
<h1 class="list1"> Shopping list</h1>
  <% @user.lists.each do |list| %>
 
   <h2> <%= link_to list.tiltle, list %></h2>
   <p>  <%= list.description %> </p>

  <% end %>
     <%= link_to 'New item', new_list_path %>


