
<div class= "home">

  <div class="hi">
    <div class="btn btn-outline-danger my-2 my-sm-0">
      <%= link_to 'OUR APP', "users/sign_in", :class => "text-white"%>
    </div>
  </div>
  <div class="gif">
    <iframe src="https://giphy.com/embed/JpXr5iIftsPr3KMc22" width="480" height="296" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
  </div>
</div>
<div class="bottom"></div>
<%# link_to 'Log In', new_user_session_path %> <br> 
<%# link_to "Sign Up", new_user_registration_path %>
