
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";


.logged-in-as {
    text-align: center;
    margin-right: 6px;
    padding-top: 24px;
    width: 80px;
    height: 80px;
    border: black 2px solid;
    border-radius: 50%;
}

.navbar-link-p {
    margin-left: 355px;
    
}

strong {
    margin-left: 390px;
}

// img {
//     width: 70%;
//     height: 70%;
// }

.navbar{
    // background-color: #454B66;
    // background-color: #767B91;
    // background-color: #F7C59F; no
    background-color: #A5CBC3;
    margin-bottom: 0rem;
}