// Place all the styles related to the fridges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.fas fa-lemon{
    width: 150px;
    height: 150px;
    color: red;
}

.test {
    width: 150px;
    height: 150px;
    background-color: red;
    border-radius: 50%;
}

// .fridge {
//     margin-left: 200px;
//     width: 850px;
//     height: 850px;
//     background-size: cover;
//     background-repeat: no-repeat;
//     background-image: url("project3.png");
//     position: relative;

// }

// .w {
//     position: absolute;
//     right: -266px;
//     top: 154px;
//     width: 100%;
//     height: 100%;
// }

a:hover, a:visited, a:link, a:active{
    // pointer-events: none;
    text-decoration: none;
    color:gray;
}

.navbar navbar-expand-lg fridge-nav {
    background-color: #FE938C;
}

.navbar-brand {
    text-transform: uppercase;
}

.temp {
    height: 235px;
    width: 235px;
    // border: 2px black solid;
    // border-radius: 50%;
}

.left {
    float: left;

}

.right {
    float: right;
    // margin-top: 105px;
    font-size: 40px;
    justify-content: center;
}

.temp-div, .room {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info {
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.card-footer {
    margin: 0;
    text-align: center;
    font-size: 30px;
    font-family: initial;
}

.form-control {
    margin-bottom: 1rem;
}

.d-flex{
    // margin-top: 80px;
}

.d-flex justify-content-center{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.home {
    background-color: #F1D162;
    padding-bottom: 185px;
}

iframe {
    margin-top: 90px;
    margin-left: 380px;
}

.bottom {
    background-color: #A5CBC3;
    width: 1280px;
    height: 22px;
}

.hi{
    margin-left: 565px;
    padding-top: 70px;
}