// Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.myShoppingList{
    background-color: #F2F2F2;
    padding-bottom: 500px;
}
h1{
    text-align: center;
}
    .container {
        width: 100%;
        padding-top: 60px;
        padding-bottom: 100px;
      }   
      .frame {
        height: 575px;
        width: 430px;
        background:
          linear-gradient(
          rgba(193, 221, 214, 0.75),
          rgba(35,43,85,0.95)),
          url(https://dl.dropboxusercontent.com/u/22006283/preview/codepen/clouds-cloudy-forest-mountain.jpg) no-repeat center center;
        background-size: cover;
        margin-left: auto;
        margin-right: auto;
        border-top: solid 1px rgba(255,255,255,.5);
        border-radius: 5px;
        box-shadow: 0px 2px 7px rgba(0,0,0,0.2);
        overflow: hidden;
        transition: all .5s ease;
      }
      
.navbar-brand{
    font-family: 'Times New Roman';
    font-size: 15px;
    color: gray;
}
.striker{
    text-decoration: line-through;
}

a:hover, a:visited, a:link, a:active{
    // pointer-events: none;
    text-decoration: none;
   color:gray;
   }

   .button{
    margin-bottom: 65px;
    color: gray;
    border-radius: 10%;
    padding: 5px;
    background-color: rgb(240, 228, 187);
   }
.card-img-top{
width: 400px;
height: 300px; }
// img {
//     width: 10%;
//     height: 10%;
// }

.d-flex{
background-color: #F2F2F2;
}
  